<br/><%= @bus.name %><br/>
Departure Time: <%= @depart.strftime("%k:%M") %> Arrival Time: <%= @arrive.strftime("%k:%M") %><br/>
<% if @bus.maximum_seats %>
	<%= @ticks_avail %> tickets available.
	<br/>
<% end %>
<br/>

<% if !@return_buses.empty? %>
	
	Return From:</br>
	<%= select("return", "bus_id", @return_buses, {:include_blank => 'None'}, :class => 'test') %></br>

	<br/><br/>
<% end %>


Cost: <span class="ticket_price"><%= number_to_currency(@bus.ticket_price) %></span><br/><br/>

<button class="cart_ticket">Add To Cart</button>