<br/><%= @bus.name %><br/>
Departure Time: <%= @depart.strftime("%k:%M") %> Arrival Time: <%= @arrive.strftime("%k:%M") %><br/>
<% if @bus.maximum_seats %>
	<%= @ticks_avail %> tickets available.
	<br/>
<% end %>
<br/>

<% if !@return_dates.empty? %>
	
	Return On:<br/>
	<%= select("return", "date", @return_dates, {:include_blank => 'Do not return'}, :class => "return_time") %><br/>

	<div class="return_from">
	</div>

	<br/>
<% end %>


Cost: <span class="ticket_price"><%= number_to_currency(@bus.ticket_price) %></span><br/><br/>

<button class="cart_ticket">Add To Cart</button>