<br/><%= @bus.name %><br/>
Departure Time: <%= @depart.strftime("%k:%M") %> Arrival Time: <%= @arrive.strftime("%k:%M") %><br/><br/>

<% if !@return_buses.empty? %>
	
	Return Trip:</br>
	<%= select("return", "bus_id", @return_buses.collect {|rb| [rb.trip.destination.name, rb.id]}, {:include_blank => 'None'}, :class => 'test') %></br>

	<br/><br/>
<% end %>


Cost: <span class="ticket_price"><%= number_to_currency(@bus.ticket_price) %></span><br/><br/>

<button class="cart_ticket">Add To Cart</button>