<%= javascript_include_tag "paying" %>

<div class="cartbox">
	<h3>Your shopping cart:</h3>
	<table>
		<% @tickets.each do |tick| %>
			<tr>
				<td><%= tick.description %></td>
				<td><span class="ticket_price"><%= number_to_currency(tick.ticket_price) %></span></td>
			</tr>
		<% end %>
		<tr><td><br/></td><td><br/></td></tr>
		<tr>
			<td>Total</td>
			<td><span class="ticket_price"><%= number_to_currency(@curr_user.cart_total) %></span></td>
		</tr>

	</table>

	<br/>

	<% if @price > 0.00 %>
		<div class="pay_area">
			<form method="post" action="http://test.admeris.com/store/checkout/ccpayment.jsp">
				<input type="hidden" name="merchantId" value=<%= @merchant_id %> />
				<input type="hidden" name="timestamp" value=<%= @timestamp %> />
				<input type="hidden" name="requestCode" value="singlePurchase" />
				<input type="hidden" name="hash" value=<%= @hash %> />

				<!-- ORDER DETAIL FIELDS -->
				<input type="hidden" name="marketSegmentCode" value="I" />
				<input type="hidden" name="orderId" value=<%= @invoice.id.to_s %> />
				<input type="hidden" name="amount" value=<%= @amount %> />

				<input type="textarea" name="creditCardNumber" value="4242424242424242" />
				<input type="textarea" name="expiryDate" value="1212" />
				<input type="textarea" name="cvv2" value="111" />
				<input type="textarea" name="street" value="500 Easy Street" />
				<input type="textarea" name="zip" value="A1B2C3" />

				<!-- RESPONSE URL: -->
				<input type="hidden" name"redirectUrl" value=<%= @resp_url %> />

			</form>
		</div>

		<button class="cart_pay">Pay</button>
	<% end %>

</div>

<div class="ajax">
	<%= image_tag "ajax-loader.gif", :class => "ajax_loader" %>
</div>