<p>
	<%= params[:selling] == "1" ? "Selling tickets to #{@user.to_s}" : "Buying tickets as #{@user.to_s}" %>
</p>

<% @tickets.each do |t| %>
	<%= link_to "Ticket #{t.id}", t %>
<% end %>

<p>
	<%= !params[:ticket_list] ? nil : link_to("View reserved tickets", user_tickets_path(:user_id => params[:user_id], :ticket_list => nil, :selling => params[:selling])) + " |" %> 
	<%= params[:ticket_list] == "old" ? nil : link_to("View old tickets", user_tickets_path(:user_id => params[:user_id], :ticket_list => "old", :selling => params[:selling])) %>
	<%= params[:ticket_list] ? nil : " |" %>
	<%= params[:ticket_list] == "paid" ? nil : link_to("View paid tickets", user_tickets_path(:user_id => params[:user_id], :ticket_list => "paid", :selling => params[:selling])) %>
</p>

<% if !params[:ticket_list] %>
	<%= form_tag "/tickets/pay" do %>
		<%= submit_tag 'Pay' %>
		<%= hidden_field_tag 'selling', params[:selling] %>
		<%= hidden_field_tag 'invoice', @invoice ? @invoice.id : nil %>
	<% end %>
<% end %>
